@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center text-light">
    <h1 class="display-4">Hoşgeldiniz!</h1>
    <p>ASP.NET Core ile Berber Randevu Sistemi</p>
    <p>ProjeBerber'e hoşgeldiniz, size en iyi hizmeti vermek için buradayız!</p>

    <p>
        <a class="btn btn-primary" asp-controller="Appointment" asp-action="Book">
            Randevu Al
        </a>
    </p>
</div>
