@{
    ViewData["Title"] = "Admin Panel";
}

<h2 class="text-light">Admin Paneline Hoşgeldiniz</h2>

<p class="text-light">
    Burada berberleri, hizmetleri ve randevuları yönetebilirsiniz.
</p>

<div>
    <a asp-action="ManageBarbers" class="btn btn-primary">Berber Yönetimi</a>
    <a asp-action="ManageServices" class="btn btn-primary">Hizmet Yönetimi</a>
    <a asp-action="ViewAppointments" class="btn btn-primary">Randevuları Gör</a>
</div>
